# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
nlp/
.env/
.env

# Ignore IDE settings
.idea/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs or temp files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.dbrank8_cosine_best.pt
*.pt
