# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
nlp/
.env/
.env
venv/
env/

# Ignore IDE settings
.idea/
.vscode/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs or temp files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore model checkpoints and outputs
*.pt
outputs/checkpoints/*.pt
outputs/logs/*.csv
outputs/plots/*.png

# Ignore data files (optional - uncomment if data should not be versioned)
# data/raw/
